:root {
    /* Color Palette */
    --yellow: #FFDD00;
    --yellow-disabled: #FFF199;
    --blue: #0F265C;
    --blue-disabled: #6f7d9d;
    --blue-background: #cfd4de;
    --red-error: #FF0000;
    --table-header-background: #F9FAFC;
    --background: #F4F6F9;
    --scrollbar-color: #6e6e73;

    /* Font */
    --font-family: sans-serif;

    /* Column Widths */
    --col-logo-width: 10%;
    --col-name-width: 15%;
    --col-description-width: 40%;
    --col-release-date-width: 15%;
    --col-restructuring-date-width: 15%;
    --col-options-width: 5%;

    /* Sizes */
    --min-table-width: 1100px;
}
