.logo-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    margin: 0 auto;
}

.logo-circle img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
