
.table {
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 2rem;
    padding: 1rem 0;
    max-width: 150rem;
    position: relative;
}

.table-header {
    background-color: var(--table-header-background);
    height: 3rem;
    align-items: center;
    font-weight: 500;
    min-width: var(--min-table-width);
    margin: 0 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1; /* Asegura que el header esté por encima del contenido */
}

.table-content {
    overflow-y: auto;
    height: 100%;
    max-height: 62vh;
}

.table-header,
.table-row {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    min-width: var(--min-table-width);
    margin: 0 1.5rem;
}

.table-header div,
.table-row div {
    text-align: left;
    align-content: center;
}

.col-logo {
    min-width: var(--col-logo-width);
    text-align: center !important;
}

.col-name {
    width: var(--col-name-width);
    min-width: 15rem;
}

.col-description {
    width: var(--col-description-width);
    min-width: 20rem;
}

.col-release-date {
    width: var(--col-release-date-width);
    min-width: 12rem;
}

.col-restructuring-date {
    width: var(--col-restructuring-date-width);
    min-width: 12rem;
}

.col-options {
    width: var(--col-options-width);
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem !important;
    margin: 0 1.5rem;
}

.results-text {
    font-size: 14px;
    color: #333;
}

.results-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 14px;
    min-width: 4rem;
}

/* Estilos para el scrollbar */
.table-content::-webkit-scrollbar {
    height: 12px;
    border-radius: 1rem;
    margin: 0 .5rem;
}

.table-content::-webkit-scrollbar-track {
    background: var(--table-header-background);
    border-radius: 1rem;
}

.table-content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 1rem;
    border: 3px solid var(--table-header-background);
}

.table-content {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--table-header-background);
}